<mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    Nombre d'ajouts/retraits
</mat-card-title>
<div  *ngIf="!isLoading" style="width: 100%;height: 400px">
    <ngx-charts-line-chart *ngIf="!isLoading" 
    [results]="chartData"
    [scheme]="chartColorScheme"
    [curve]="curve"
    [yAxis]=true 
    [xAxis]=true
    [xAxisTickFormatting]="axisFormat">
    </ngx-charts-line-chart>
</div>
<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
