agm-map {
    height: 50vh;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 12px;
    }
}

@media screen and (max-width: 330px) {
    table{
      font-size: 11px;
    }
  }
  