<mat-card style="min-height: 200px;">
  <mat-card-title>Velinfo'</mat-card-title>
  <p style="text-align:justify">
    Velinfo' est une application non officielle tentant d'identifier les stations Velib' bloquées au plus tôt. Vous pouvez l'utiliser pour :<br/>
    <br/>
    🗺️ Trouver des stations autour de vous via la <a routerLink="/map">carte</a>.<br/>
    🔎 Chercher directement dans la liste des <a routerLink="/stations">stations</a>.<br/>
    ❤️ Accéder directement à vos stations <a routerLink="/favorites">favorites</a>.<br/>
    <br/>
    Cette application est open-source. Les sources sont disponible sur <a href="https://github.com/ouvreboite/velinfo"><img style="height:1em;" src="/assets/github.png">Github</a>.
  </p>
</mat-card>
<app-global-activity-counter></app-global-activity-counter>
<app-global-activity-chart></app-global-activity-chart>
