table {
  width: 100%;
  max-width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

mat-slide-toggle {
  margin-left: 5px;
  margin-right: 5px;
}

.station-filter{
  width:300px;
}

@media screen and (max-width: 768px) {
  .hiddable-smallscreen {
      display: none;
  }

  .mat-cell{
    font-size: 12px;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 6px;
  }
}

@media screen and (max-width: 596px) {
  .station-filter{
    width:90vw;
  }
}

@media screen and (max-width: 330px) {
  .mat-cell{
    font-size: 11px;
  }
}

.row-hover:hover {
  cursor: pointer;
}