
button {
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .hiddable-smallscreen {
      display: none;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 6px;
  }

  mat-card{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  mat-card-title{
    padding-left: 5px;
    padding-right: 5px;
  }

  mat-card-subtitle{
      padding-left: 5px;
      padding-right: 5px;
  }
}