.progress-bar {
    text-align:left;
}

.progress {
    height:1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 595px) {
    .onBigScreen{
        display: none;
    }
}

@media screen and (min-width: 596px) {
    .onSmallScreen{
        display: none;
    }
}

.hide{
    display: none;
}