
<mat-card class="wrapper">
    <mat-card-title>Statistiques globales</mat-card-title>
    <p style="text-align:justify">
      Vous trouverez ici les statistiques d'usage du réseau Velib pour aujourd'hui.
    </p>
    <app-global-activity-counter></app-global-activity-counter>
    <app-global-activity-chart></app-global-activity-chart>
    <mat-card>
        <app-activity-chart></app-activity-chart>
        Comparaison de l'activité habituelle (même jour de la semaine sur le mois écoulé) et de l'activité vue aujourd'hui.
    </mat-card>
</mat-card>