
<div class="wrapper">
    <mat-card class="introduction">
      <mat-card-title>Statistiques globales</mat-card-title>
      <p style="text-align:justify">
        Vous trouverez ici les statistiques d'usage du réseau Velib pour aujourd'hui.
      </p>
    </mat-card>
    <app-network-activity-counter class="counter"></app-network-activity-counter>
    <app-network-activity-chart class="chart"></app-network-activity-chart>
    <mat-card class="comparison">
        <app-network-detailled-activity-chart></app-network-detailled-activity-chart>
        Comparaison de l'activité habituelle (même jour de la semaine sur le mois écoulé) et de l'activité vue aujourd'hui.
    </mat-card>
  </div>